body {
font-family:helvetica,arial,sans-serif
}

.page {
max-width:800px;
padding-left:80px;
margin:30px auto
}

a,a:visited {
color:#2f4164
}

h2 {
font-size:20px;
clear:both;
margin-top:25px
}

h3 {
font-weight:700;
margin:10px 0 5px;
padding:0;
font-size:18px
}

h5 {
display:inline-block;
margin:10px 0;
padding:5px 8px;
font-weight:400;
text-transform:uppercase;
font-size:12px;
letter-spacing:1px;
background-color:#f7f7f7;
border:1px solid #f3f3f3;
color:#333
}

p {
color:#444;
font-size:16px;
line-height:1.5
}

.hr {
height:0;
width:100%;
border-bottom:1px solid #dbdbdb
}

ul.anchors {
list-style-type:none;
list-style-position:outside;
padding:0
}

ul.anchors:after {
content:"";
display:table;
clear:both
}

ul.anchors li {
float:left;
margin-right:20px
}

.meeting {
position:relative
}

.meeting p {
margin:0;
padding:0
}

.date {
width:80px;
margin-left:-100px;
position:absolute;
left:0;
color:#777;
font-size:12px;
text-align:right;
line-height:1.3
}

.description {
margin-bottom:20px
}

a.course-link {
text-decoration:none
}

a.course-link:hover h3 {
text-decoration:underline
}

a.course-link p {
color:#444
}

.post li {
  font-size: 18px;
  margin: 8px 0;
}