---
layout: default
---

<h1>Interactive News Design</h1>

<p>In this course, students will learn how to design and build news Web sites from the ground up. The course will be a mix of concept and practical application of digital news design, including user research. Students will learn to develop prototypes, iterate design concepts and code the HTML, CSS and JavaScript to implement their vision for the Web and mobile devices. Class meets from 9 a.m. to Noon on Tuesdays and Thursdays.</p>

<ul class="anchors">
  <li><a href="#schedule">Schedule</a></li>
  <li><a href="#assignments">Assignments</a></li>
  <li><a href="#professors">Professors</a></li>
</ul>

<div class="hr"></div>

<a name="schedule"></a><h2>Schedule</h2>

{{ content }}

<a name="assignments"></a><h2>Assignments</h2>

<div class="assignment">
	<p><strong>Weekly submissions</strong>: Due every Monday by 10 p.m. Between class sessions, be on the lookout for online projects or sites that inspire you. The inspiration could the storytelling, design, social/collaborative opportunities, technology, etc. Please submit the project URL and a paragraph about why you find it inspiring here: <a href="http://bit.ly/Xtxou6">http://bit.ly/Xtxou6</a>. Be prepared to discuss your submission in class.</p>
</div>

<div class="assignment">
	<p><strong>News Nerd Profile</strong>: Each student will report and write a roughly 1,300 word profile of a news application, news designer or developer, or news site noted for its design. In addition, each student will present their findings to the class. All profiles will include interviews with relevant designers and developers. In the coming days, we’ll explore possible profile ideas and assign due dates by lottery. We&rsquo;ll present about one a week throughout the semester. Resource: <a href="https://source.opennews.org/en-US/">Source</a></p>
</div>

<div class="assignment">
	<p><strong>Midterms</strong>: There are two distinct midterm projects. For Thursday, March 6, there is a group presentation-driven project focused on design analysis and research of a large-scale news site. For Tuesday, March 11, you will build and present individually a multimedia story package, focusing on the HTML/CSS and your own design choices.</p>
</div>

<div class="assignment">
	<p><strong>Final</strong>: An individual project to design and code, from scratch, an immersive news project. Given a story, you will be responsible for the project&rsquo;s overview page and a long-form narrative page. There will be specific design constraints that you will need to consider and respond to.</p>
</div>


<a name="professors"></a><h2>Professors:</h2>

<p style="float: left; width: 35%; margin-right: 10%;"><strong><a href="http://www.tysonevans.com/">Tyson Evans</a></strong><br />
Deputy Editor, Interactive News<br />
The New York Times<br />
te2210 at columbia.edu</p>

<p style="float: left; width: 35%;"><strong><a href="http://www.joshmkeller.com/">Josh Keller</a></strong><br />
Graphics Editor<br />
The New York Times<br />
joshmkeller at gmail.com</p>

<p style="clear: both;">Please keep in mind that while we consider this course and the Journalism School to be among our highest priorities, we do maintain full-time work schedules during the week. We will do our best to be available. Remember,  and the Digital Media Associates are also available as a resource throughout the semester.</p>